/* body{
    background-color: #ec46f5;
} */
/* a{
    color: #fff;
} */
/* .wrapper{
    margin-top: 100px;
} */
      
/* .content-circle{ */
    /* position: relative; */
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: #fff; */
    /* border-radius: 50%;     */
    /* left: 0; */
    /* animation:  */
       
/* } */
/* .content-circle:hover */
  