.content-circle{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 0;
}
  /* @keyframes wite-circle {
      0%{left: 0;}
      100%{right: 100px;}
  }
  
  .circle{
      animation-name: ;
      animation-duration: ;
      animation-timing-function: ;
      animation-iteration-count: ;
      animation-direction: ;
      animation-delay: ;
      animation-fill-mode: ;
  } */