@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --background-button: #F5F4FA;
  --svg: #AFB1B8;
  --card-border-line: #EEEEEE;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Решта коду */
body {
  color: var(--primary-text-color);
  background-color: #fff;
  font-family: roboto, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
}
.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}
@media (min-width: 768px) {
  .contacts {
    margin-left: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 305px;
  }
}

@media (max-width: 767px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  .contacts-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (min-width: 1200px) {
  .contacts-list li + li {
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .contacts-item:last-child {
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .contacts-item:last-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item:last-child {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .contacts-item:first-child {
    margin-bottom: 13px;
  }
}

.contacts-list .contacts-link {
  color: var(--primary-text-color);
}
@media (max-width: 767px) {
  .contacts-list .contacts-link {
    font-size: 24;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 768px) {
  .contacts-list .contacts-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .contacts-list .contacts-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-size: 14px;
  }
}
.contacts-list .contacts-link:focus, .contacts-list .contacts-link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
@media (max-width: 767px) {
  .contact-icon {
    display: none;
  }
}
.contact-icon:focus, .contact-icon:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-style: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 3%;
}
@media (max-width: 767px) {
  .logo {
    margin: 16px 15px;
  }
}

span {
  color: var(--accent-color);
}

.header-nav {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0;
  border-bottom: 1px solid #ECECEC;
}

.header-nav,
.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) {
  .nav-list {
    margin-left: 90px;
  }
}

.nav-list .link {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media (max-width: 767px) {
  .nav-list .link {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .nav-list .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}
.nav-list .link:hover, .nav-list .link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}
.nav-list .link.current::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link:hover.current::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 767px) {
  .list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .list-item {
    margin-right: 54px;
  }
  .list-item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .mobile-button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    z-index: 2;
  }
  .mobile-button:hover, .mobile-button:focus {
    fill: var(--accent-color);
  }
  .mobile-button .mobile-open {
    display: none;
  }
  .mobile-button.is-open .mobile-open {
    display: block;
  }
  .mobile-button.is-open .mobile-close {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--background-color);
    display: none;
    padding: 48px 83px 48px 40px;
    z-index: 1;
  }
  .mobile-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .mobile-menu {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (min-width: 768px) {
  .networks-list {
    display: none;
  }
}

.networks-item:not(:last-child):after {
  content: "";
  width: 1px;
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.networks-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}

/* блок герой*/
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/bgi-hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bgi-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-bottom: 46px;
  text-transform: uppercase;
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}
@media (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.6;
  }
}
.hero-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 25px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 0px;
  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--background-color);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .modal {
    width: 450px;
    max-height: 609px;
    height: 100%;
    overflow: scroll;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7) rotateY(450deg);
          transform: translate(-50%, -50%) scale(0.7) rotateY(450deg);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-image: url("../img/icons/close.svg");
  background-size: contain;
}

/* Форма */
.field {
  position: relative;
  text-align: start;
}

.form,
.fields,
.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fields {
  margin-bottom: 20px;
}

.form-field,
.textarea {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.field:not(:last-child) {
  margin-bottom: 10px;
}

.form .title {
  font-size: 20px;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.textarea {
  resize: none;
  height: 120px;
  font-size: 14px;
  padding: 12px 16px;
}

.field label {
  font-size: 12px;
  margin-bottom: 4px;
}

.form-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 15px;
  margin: 0;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:focus-within .form-field,
.field:hover .form-field,
.field:focus-within textarea,
.field:hover textarea {
  border: 1px solid var(--accent-color);
}

.field:focus-within > .form-icon,
.field:hover > .form-icon {
  fill: var(--accent-color);
}

.btn {
  width: 200px;
  margin: auto;
}

/* чекбокс */
.checkbox {
  margin-bottom: 30px;
}

.field-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  padding: 0;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}
.field-checkbox:focus-within + .checkbox-icon {
  border: 2px solid var(--accent-color);
}
.field-checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.field-label a {
  color: var(--accent-color);
  text-decoration: underline;
}

/*особливості*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media (min-width: 1200px) {
  .features {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .features-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .features-item {
    width: 270px;
  }
}

.feture .text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-button);
}

.section.work {
  padding: 0;
}
@media (max-width: 1199px) {
  .section.work {
    display: none;
  }
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-work:not(:last-child) {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  width: 370px;
}

.thumb {
  position: relative;
  width: 100%;
  height: 100%;
}

.thumb-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-color);
}

.our-team {
  background-color: #F5F4FA;
}

.team {
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    margin: -15px;
  }
}

.team-link {
  padding-bottom: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-link {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-link {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
@media screen and (max-width: 768px) {
  .team-link:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team .name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .position {
  margin-bottom: 16px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-link img {
  margin-bottom: 30px;
}

.social-network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.network-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--svg);
}
.social-link:hover, .social-link:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.social-icon {
  fill: currentColor;
  margin: 12px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media (max-width: 767px) {
  .customers-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media (min-width: 768px) {
  .customers-item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .customers-item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.customers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--svg);
  border-radius: 4px;
  color: var(--svg);
}
.customers-link:hover, .customers-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

/*Footer*/
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2f303a;
}

@media (max-width: 767px) {
  .container.footer-container {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .container.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .container.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer,
.footer-address {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer-address {
  margin-top: 20px;
  margin-bottom: 9px;
}

@media (max-width: 767px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
  }
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--accent-color);
}

/* Приєднуйтесь */
.join-networks {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.social-network-list {
  margin-top: 20px;
}

.join .social-link {
  background-color: rgba(255, 255, 255, 0.1); /* #2f303a */
  color: var(--background-color);
}
.join .social-link:hover, .join .social-link:focus {
  background-color: var(--accent-color);
}

.join .social-icon {
  /* Наслідує колір від батьківського елементу
   в стані спокою та при ховері і фокусі */
  fill: currentColor;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: -15px;
    margin-left: -8px;
  }
}
@media (min-width: 768px) {
  .filter {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .filter-item {
    margin-top: 15px;
    margin-left: 8px;
  }
}
@media (min-width: 768px) {
  .filter-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 30px;
  }
  .filter-item:not(:last-child) {
    margin-right: 8px;
  }
}
@media (min-width: 1200px) {
  .filter-item {
    margin-bottom: 50px;
  }
}

.filter-link {
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  color: var(--title-text-color);
  background-color: var(--background-button);
}
.filter-link:hover, .filter-link:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*приклади рабіт*/
@media (min-width: 768px) {
  .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media (max-width: 767px) {
  .examples-link:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .examples-link {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .examples-link {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.examples-titel {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.link-text {
  padding: 20px 24px;
  border-left: 1px solid var(--card-border-line);
  border-right: 1px solid var(--card-border-line);
  border-bottom: 1px solid var(--card-border-line);
}

.card {
  display: block;
  border-top: transparent;
  overflow: hidden;
}

/* Оверлей на карточках */
.img-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--background-color);
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-thumb:hover .overlay, .link-thumb:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.link-thumb:hover .link-text,
.link-thumb:focus .link-text {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */