* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    background-color: #f9f9fd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Тінь з одного боку */
  
  .post {
    flex-basis: calc(50% - 30px);
    min-width: 320px;
    margin: 15px;
    padding: 15px;
    border-radius: 4px;
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #fff;
  }
  
  .post:nth-child(1) {
    /* box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3); */
  }
  
  .post:nth-child(2) {
    /* box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.3); */
  }
  
  .post:nth-child(3) {
    /* box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.3); */
  }
  
  .post:nth-child(4) {
    /* box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.3); */
  }
  
  .post-title {
    margin-top: 0;
  }
  
  .post-text {
    margin-bottom: 0;
  }

  /* Внутрішня тінь */
  /* .post {
    max-width: 600px;
    padding: 20px;
    border-radius: 4px;
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #fff;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
  
  .post-title {
    margin-top: 0;
  }
  
  .post-text {
    margin-bottom: 0;
  } */