:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --background-color: #ffffff;
    --background-button: #F5F4FA;
  }
/* Глобальний border-box */

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

/* Решта коду */
  
  body {
    color: var(--primary-text-color);
    background-color: #ffffff;
    font-family: roboto, sans-serif;
  }

  a {
    text-decoration: none;
  }

  .section{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
  }
   
  .container {
    width: 1200px;
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 0; 
    padding-left: 15px;
    padding-right: 15px; 
  }
  h1,
  h2,
  h3,
  p,
  ul {
    margin-top: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  } 

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  /*шапка сайта*/
  
  /*logo*/
  .logo {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 3%;
  }
  
  span {
    color: var(--accent-color);
  }
  
  /*шапка навигації*/
  .header-nav{
    box-sizing: border-box;
    margin-bottom: 0;
    border-bottom: 1px solid #ECECEC;;
    }
    
  .header-nav,
  .contacts-nav
  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-list{
    display: flex;
    margin-left: 93px;
  }

  .nav-list .link-current {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px; 

    color: var(--accent-color);
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .nav-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #000000;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .nav-list .link:hover,
  .nav-list .link:focus {
    color: var(--accent-color);
  }

  .contacts-nav{
    display: flex;
    margin-left: auto;
  }

  .contacts-nav li + li {
    margin-left: 50px;
  }
  
  .contacts-nav a {
    color: var(--primary-text-color);
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contacts-nav a:focus,
  .contacts-nav a:hover {
    color: var(--accent-color);
  }
   .list-item{
    margin-right: 54px;
  }
  .list-item:last-child{
    margin-right: 0;
  } 

  /* блок герой*/  
  .hero {
    background-color: #2f303a;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
  }

  .hero-title {
    display: block;


    margin-top: 0px;
    margin-bottom: 30px;
margin-bottom: 46px;
text-transform: uppercase;
    color: var(--background-color);
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .hero-button{
    display: inline-block;
    min-width: 200px;
    padding: 10px 25px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    margin-top: 0px;

    color: var(--background-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;    
  }

/*секции*/
  .section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
    
  /*особливості*/
  .features .title {
    margin-bottom: 10px;
    color: var(--title-text-color);
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
   .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

   .features {
    display: flex;
    justify-content: space-between;
   }

  .features-item{
    width: 270px;
  }

  .feture .text {
    color: var(--primary-text-color);
  
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  

  /*чим ми займаємось*/

  .image{
    display: flex;
    justify-content: space-between;
  }

  /*наша команда*/
  .our-team{
    background-color: #F5F4FA;
  }
  .team {
    display: flex;
    justify-content: space-between;
  }

  .team-link:not(:last-child){    
    margin-right: 30px;
  }
  .team-link{
    width: 270px;
    padding-bottom: 30px;

    background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }
    
  .team .name {
    color: var(--title-text-color);
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .team .position {
    margin-bottom: 0;
    color: var(--primary-text-color);
  
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team-link img{
    margin-bottom: 30px;
  }
  
  /*Footer*/
  .footer{
    padding-bottom: 60px;
    padding-top: 60px;
}
  
  .footer,
  .footer-address {
    color: #ffffff;
    background-color: #2f303a;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  .footer-logo {
    /* margin-bottom: 20px; */
    color: #ffffff;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .footer-address{
    margin-top: 20px;
    margin-bottom: 9px;
  }
  .footer-contacts-link {
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-contacts-link:hover,
  .footer-contacts-link:focus {
    color: var(--accent-color);
  }
  
  /* .footer-contacts-link:not(:last-child){
    margin-bottom: 9px;
  } */
  /*PORTFOLIO*/
  
  /*filters*/
  
  .filter{
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
  }
  .filter li:not(:last-child){
    margin-right: 8px;
  }
  .filter-link{
    display: inline-block;
    /* border: 1px solid black; */
    border-radius: 4px;
    min-width: 73px;
    height: 38px;
    padding: 6px 22px;

    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    color: var(--title-text-color);
    background-color: var(--background-button);

  }
.filter-link:hover,
.filter-link:focus{
background-color: var(--accent-color);
color: var(--background-color);
}

  
  /*приклади рабіт*/
  
  .examples{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .examples-link{
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
  .examples-titel {
    color: var(--title-text-color);
  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .examples-type {
    color: var(--primary-text-color);
  
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }