/*особливості*/
.features .title {
    margin-bottom: 10px;
    color: var(--title-text-color);
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
   .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

   .features {
    display: flex;
    justify-content: space-between;
   }

   .features-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;

    margin-bottom: 30px;
    background-color: var(--background-button);
   }
  .features-item{
    width: 270px;
  }

  .feture .text {
    color: var(--primary-text-color);
  
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  

  /*чим ми займаємось*/

  .section.work {
    padding-top: 0;
  }
  .image {
    display: flex;
    justify-content: space-between;
  }
  
  .image-work:not(:last-child) {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    width: 370px;
  }
  .thumb {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .thumb-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 70px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--background-color);
  }
  .thumb-text > p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }