/* Форма */
.field{
    position: relative;
    text-align: start;

  }
  .form,
  .fields,
  .field{
    display: flex;
    flex-direction: column;
  }

  .fields {
    margin-bottom: 20px;
  }
  
  .form-field,
  .textarea{
    padding-left: 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline: none;
  }

  .field:not(:last-child){
    margin-bottom: 10px;
  }

  .form .title{
    font-size: 20px;
    margin-bottom: 12px;

    color: var(--title-text-color);
  }

  .textarea{
    resize: none;

    height: 120px;
    font-size: 14px;
    padding: 12px 16px;
  }

  .field label{
    font-size: 12px;
    margin-bottom: 4px;
  }

  .form-icon{
    position: absolute;
    display: inline-block;

    top: 50%;
    left: 15px;
    margin: 0;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  }

  .field:focus-within .form-field,
  .field:hover .form-field,
  .field:focus-within textarea,
  .field:hover textarea
  {
    border: 1px solid var(--accent-color);
  }
  .field:focus-within > .form-icon,
  .field:hover > .form-icon {
    fill: var(--accent-color);
} 

  .btn{
    width: 200px;
    margin: auto;
  }
  /* чекбокс */

  .checkbox{
    margin-bottom: 30px;
  }

  .field-checkbox {
    appearance: none;
    outline: none;
  } 

  .checkbox-icon{
    display: inline-block;
    margin-right: 8px;
    padding: 0;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;

    .field-checkbox:focus-within + &{
      border: 2px solid var(--accent-color)
    }

    .field-checkbox:checked + &{
      background-color: var(--accent-color);
      border: 2px solid var(--accent-color);
    }
  } 

  .field-label a{
    color: var(--accent-color);
    text-decoration: underline;
  }