.section.work {
padding: 0;
  @media (max-width: 1199px) {
    display: none;
  }

  }
  .image {
    display: flex;
  }
  
  .image-work:not(:last-child) {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    width: 370px;
  }
  .thumb {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .thumb-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 70px;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--background-color);
  }
  // .thumb-text > p {
  //   margin-bottom: 0;
  //   font-size: 14px;
  //   line-height: 16px;
  //   text-transform: uppercase;
  // }