.contacts{
  @media (max-width: 767px) {
    margin-bottom: 64px;    
  }

  @media (min-width: $tablet) {
    margin-left: 89px;    
  }

}

.contacts-list{
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }



    @media (min-width: $desktop) {
      margin-left: auto;
    }
  }

  .contacts-list li + li {
    @media (min-width: $desktop) {
      margin-left: 50px;
    }
  }

  .contacts-item:last-child{
    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  .contacts-list .contacts-link{
    @media (max-width: 767px){
      font-size: 24;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
    }
    @media (min-width: $tablet){

    }

    @media (min-width: $desktop) {
      display: flex;
      align-items: center;
           
      font-size: 14px;      
    }

    &:focus,
    &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  }
  .contact-icon{
    @media (max-width: 767px) {
      display: none;      
    }

    margin-right: 10px;
    fill: currentColor;

    &:focus,
    &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
    }
  }