.logo {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 3%;

    @media (max-width: 767px) {
      margin: 16px 15px;
    }
  }
  
  span {
    color: var(--accent-color);
  }