.logo {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 3%;
  }
  
  span {
    color: var(--accent-color);
  }