:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --background-color: #ffffff;
    --background-button: #F5F4FA;
    --svg: #AFB1B8;
    --card-border-line: #EEEEEE;
}