html{
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after{
    box-sizing: inherit;
  }
  
  /* Решта коду */
  
    body {      
      color: var(--primary-text-color);
      background-color: #fff;
      font-family: roboto, sans-serif;
    }

    body.modal-open{
      overflow: hidden;
    }
  
    a {
      text-decoration: none;
    }

    h1,
    h2,
    h3,
    p,
    ul {
      margin-top: 0;
    }
    
    img {
      display: block;
      max-width: 100%;
      height: auto;
    } 
  
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    